@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.container_your_goal {
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 90px;
  padding-top: 20px;

  @include tablet-only {
    display: block;
    padding-left: 195px;
    padding-right: 195px;
    // padding-bottom: 244px;
    padding-top: 16px;
  }
  @include mobile-only {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 24px;
    padding-top: 8px;
  }
  .container_picture {
    margin-right: 104px;
    @include tablet-only {
      margin: 0;
      width: 100%;
      img {
        margin: auto;
      }
    }
    @include mobile-only {
      margin: 0;
      width: 100%;
      img {
        margin: auto;
      }
    }
  }
  .container_form {
    display: block;
    margin-top: 80px;
    @include tablet-only {
      margin-top: 60px;
    }
    @include mobile-only {
      margin-top: 24px;
      text-align: start;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
    }
    .title {
      font-family: $font-regular;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 16px;
      @include tablet-only {
        text-align: center;
      }
      @include mobile-only {
        font-size: 24px;
        line-height: 1.25;
        margin-left: 10px;
      }
    }
    .form_checked {
      display: block;

      .text {
        font-family: $font-regular;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.45;
        color: $primary-grey;
        margin-bottom: 24px;
        @include tablet-only {
          text-align: center;
        }
        @include mobile-only {
          font-size: 18px;
          line-height: 1.33;
          margin-left: 10px;
        }
      }
      .desc {
        font-family: $font-regular;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        margin-bottom: 12px;
        text-align: start;
        @include tablet-only {
          width: 380px;
          margin-left: auto;
          margin-right: auto;
          align-items: start;
          justify-content: center;
        }

        @include mobile-only {
          margin-left: 0;
        }
      }
      .container_label_list {
        @include tablet-only {
          margin-bottom: 24px;
          justify-content: start;
          @include tablet-only {
            width: 380px;
            margin-left: auto;
            margin-right: auto;
            text-align: start;
            justify-content: center;
          }
        }
      }
      .container_label_item {
        @include tablet-only {
          display: flex;
          text-align: start;
          margin-bottom: 24px;
          width: 380px;
        }
      }
      .container_label {
        margin-bottom: 16px;
        @include tablet-only {
          margin-bottom: 0;
          margin-right: 16px;
          width: 110px;
        }
        @include mobile-only {
          margin-bottom: 24px;
        }
      }
      .container_label_center {
        margin-bottom: 16px;
        @include tablet-only {
          margin-bottom: 0;
          margin-right: 24px;
          width: 110px;
        }
        @include mobile-only {
          margin-bottom: 24px;
        }
      }
      .container_label_end {
        display: block;
        width: 212px;
        margin-bottom: 24px;
        @include tablet-only {
          margin-right: 24px;
          width: 110px;
        }
        @include mobile-only {
          margin-bottom: 24px;
        }
      }
      .list {
        font-family: $font-regular;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.43;
      }
      .item {
        margin-right: 8px;
        background-color: $primary-black-2;
        border: $primary-grey;
      }
      input[type='radio'],
      label {
        cursor: pointer;
      }

      input[type='radio'] {
        position: relative;
        height: 12px;
        width: 12px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
      }

      input[type='radio']::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-color: $primary-black-2;
        border: 1px solid $primary-grey;
      }

      input[type='radio']:checked::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $primary-grey;
        border: 1px solid $primary-black-2;
        transform: translate(-50%, -50%);
        visibility: visible;
      }
      .your_age {
        // display: block;
        // min-width: 212px;
        font-family: $font-regular;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        // margin-bottom: 12px;
        @include tablet-only {
          text-align: start;
        }
      }
      .item_input {
        width: 212px;
        height: 36px;
        border-radius: 12px;
        border: 1px solid $primary-green-lite;
        padding-left: 8px;
        padding: 8px, 10px, 8px, 10px;
        gap: 10px;
        background-color: $primary-black-2;
        color: $primary-grey;
        font-family: $font-regular;
        font-weight: 400px;
        font-size: 14px;
        line-height: 1.43;
        margin-top: 12px;
        @include tablet-only {
          width: 380px;
          height: 36px;
        }
        @include mobile-only {
          width: 300px;
          height: 36px;
        }
      }
      input[type='number']::-webkit-outer-spin-button,
      input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none; // Yeah, yeah everybody write about it
      }

      input[type='number'],
      input[type='number']:hover,
      input[type='number']:focus {
        appearance: none;
        -moz-appearance: textfield;
      }
      .btn {
        display: block;
        width: 212px;
        height: 36px;
        padding: 8px, 10px, 8px, 10px;
        border-radius: 12px;
        background-color: $primary-green-lite;
        font-family: $font-regular;
        color: $primary-black-2;
        width: 500;
        font-size: 14px;
        line-height: 1.42;
        align-items: center;
        margin-bottom: 24px;
        @include tablet-only {
          width: 380px;
          height: 36px;
          padding: 8px, 10px, 8px, 10px;
          margin-left: auto;
          margin-right: auto;

          justify-content: center;
        }
        @include mobile-only {
          width: 300px;
          height: 36px;
          padding: 8px, 10px, 8px, 10px;
        }
      }
      .btn_back {
        display: block;
        background-color: $primary-black;
        color: $primary-grey;
        width: 212px;
        height: 36px;
        font-family: $font-regular;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.42;
        text-align: center;
        @include tablet-only {
          width: 380px;
          height: 36px;
          margin-left: auto;
          margin-right: auto;

          justify-content: center;
        }
        @include mobile-only {
          width: 300px;
          height: 36px;
        }
      }
    }
  }
}
