@import '@/scss//base/mixins';
@import '@/scss/base/variables';

ol {
  counter-reset: ol-numbers;
}

ol li {
  position: relative;
}

ol li::before {
  counter-increment: ol-numbers;
  content: counter(ol-numbers);

}

.blockHeader {
  margin-top: 16px;
  align-items: center;
  display: flex;
}

.titleBlockHeader {
  margin-left: 12px;
}

.itemCalories {
  display: flex;

  @include mobile-only {
    display: flex;
    flex-wrap: wrap;
    width: 175px;
    gap: 12px;
    margin-top: 12px;
  }

  @include tablet-and-desktop {
    margin-top: 16px;
    align-items: center;
    margin-left: auto;
    margin-right: 35px;
  }

  @include tablet-only {
  margin-right: 80px;
}
}

.item {
  color: $primary-white;
  font-family: $font-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @include tablet-and-desktop {
    margin-right: 20px;
  }
}

.caloriesSum {
  color: $primary-grey;
  font-weight: 500;
}

.blocks {
  display: flex;
  flex-direction: column;

  @include mobile-only {
    width: 300px;
    height: 232px;
   gap: 16px;
padding: 16px 12px;
justify-content: space-between;
  }

  border-radius: 12px;
  background-color: $primary-black-2;
  margin-top: 12px;

  

  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 1px;
  }

  @include tablet-only {
    height: 240px;
    padding: 32px 14px;
    width: 780px;
    gap: 30px;
    justify-content: space-around;
  }

  @include desktop-only {
    height: 240px;
    padding-top: 32px;
    padding-left: 14px;
    padding-right: 14px;
    width: 676px;
    gap: 25px;
  }
}

.blockItems {
  display: flex;

  .blockItemsGrup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet-only {
      justify-content: space-around;
    }
  }
}

.listItems {
  width: 100%;
  margin-left: 16px;
}

.titleBlockHeader {
  color: $primary-white;
  font-family: $font-regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.listProduct {
  display: flex;

  @include tablet-only {
    align-items: center;
  }
}

.button {
  background-color: transparent;
  color: $primary-green-lite;
  padding: 0px;
  margin-left: 25px;
 
}

.containerBlockHeader {
  @include tablet-and-desktop {
    display: flex;
  }
}

.caloriesProduct {
  display: flex;
  gap: 12px;

  @include tablet-only {
    gap: 70px;
  }
  @include desktop-only{
    gap: 40px;
  }
}

.foodName {
  color: $primary-white;
  font-family: $font-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
}

.containerFoodName {
  display: flex;
}

.bettonEdit {
  margin-left: auto;
  background-color: transparent;
  padding: 0px;
  color: $primary-grey;
  display: flex;
}

.calorieas {
  color: $primary-grey;
  font-family: $font-regular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.foodContainer {
  margin-left: 20px;
  width: 100%;

  @include tablet-and-desktop {
    display: flex;
    justify-content: space-between;
  }

  .foodContainer:not(:first-child) {

    @include mobile-only {
      margin-top: 22px;
    }

    margin-top: 25px;

    @include desktop-only {
      margin-top: 33px;
    }
  }
}

.totalCalories{
  display: flex;

  @include mobile-only{
    gap: 12px;
  }

  @include tablet-only {
    gap: 70px;
  }

  @include desktop-only{
     gap: 70px;
  }
}