@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.container_your_goal {
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 86px;
  padding-top: 20px;

  @include tablet-only {
    display: block;
    padding-left: 195px;
    padding-right: 195px;
    padding-top: 16px;
    // padding-bottom: 406px;
  }

  @include mobile-only {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
    padding-top: 8px;
    margin: 0 auto;
  }

  .container_picture {
    margin-right: 104px;

    @include tablet-only {
      margin: 0;
      width: 100%;
      img {
        margin: auto;
      }
    }

    @include mobile-only {
      margin: 0;
      width: 100%;
      img {
        margin: auto;
      }
    }
  }
  .container_form {
    display: block;
    margin-top: 80px;

    @include tablet-only {
      margin-top: 61px;
      text-align: center;
    }
    @include mobile-only {
      width: 300px;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      text-align: start;
      justify-content: center;
    }
    .title {
      font-family: $font-regular;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 16px;
      @include mobile-only {
        font-size: 24px;
        line-height: 1.25;
        margin-left: 10px;
      }
    }
    .form_checked {
      display: block;

      .text {
        font-family: $font-regular;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.45;
        color: $primary-grey;
        margin-bottom: 24px;
        @include mobile-only {
          font-size: 18px;
          line-height: 1.33;
        }
      }
      .container_label_list {
        @include tablet-only {
          display: flex;
          margin-bottom: 24px;
          justify-content: space-between;
          @include tablet-only {
            margin-right: 25px;
            margin-left: 25px;
            width: 380px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      .container_label {
        margin-bottom: 16px;
        @include tablet-only {
          margin-bottom: 0;
          justify-content: space-between;
          width: 110px;
        }
        @include mobile-only {
          margin-bottom: 24px;
        }
      }
      .container_label_ctnter {
        margin-bottom: 16px;
        @include tablet-only {
          margin-bottom: 0;
          width: 110px;
        }
        @include mobile-only {
          margin-bottom: 24px;
        }
      }
      .container_label_end {
        margin-bottom: 24px;
        @include tablet-only {
          margin-bottom: 0;
          margin-right: 24px;
          width: 110px;
        }
        @include mobile-only {
          margin-bottom: 24px;
        }
      }
      .list {
        color: $primary-grey;
        font-family: $font-regular;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.43;
      }
      .item {
        margin-right: 8px;
        background-color: $primary-black-2;
        border: $primary-grey;
      }

      input[type='radio'],
      label {
        cursor: pointer;
      }

      input[type='radio'] {
        position: relative;
        height: 12px;
        width: 12px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
      }

      input[type='radio']::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background-color: $primary-black-2;
        border: 1px solid $primary-grey;
      }

      input[type='radio']:checked::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $primary-grey;
        transform: translate(-50%, -50%);
        border: 1px solid $primary-black-2;
        visibility: visible;
      }
    }
    .btn {
      width: 212px;
      height: 36px;
      padding: 8px, 10px, 8px, 10px;
      border-radius: 12px;
      background-color: $primary-green-lite;
      font-family: $font-regular;
      color: $primary-black-2;
      width: 500;
      font-size: 14px;
      line-height: 1.42;
      align-items: center;
      @include tablet-only {
        width: 380px;
        height: 36px;
        padding: 8px, 10px, 8px, 10px;
      }
      @include mobile-only {
        width: 300px;
        height: 36px;
        padding: 8px, 10px, 8px, 10px;
      }
    }
  }
}
