@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.container_your_goal {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 86px;
    padding-top: 40px;
    @include tablet-only {
        display: block;
        padding-left: 195px;
        padding-right: 195px;
        padding-bottom: 406px;
        padding-top: 40px;
    }
    @include mobile-only {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 60px;
        padding-top: 24px;
        
    }
    .container_picture {
        margin-right: 104px;
        @include tablet-only {
            margin: 0;
            width: 100%;
            img {
                margin: auto;
            }
        }
    }
    .container_form {
        display: block;
        margin-top: 80px;
        @include tablet-only {
            margin-top: 61px;
            text-align: center;          
        }
        @include mobile-only {
            margin-top: 25px;
            text-align: start;
        }
        .title {
            font-family: $font-regular;
            font-weight: 500;
            font-size: 30px;
            line-height: 1.2;
            margin-bottom: 16px;
            @include mobile-only {
                font-size: 24px;
                line-height: 1.25;
            }
        }
        .form_checked {
            display: block;
           
            .text {
                font-family: $font-regular;
                font-weight: 400;
                font-size: 22px;
                line-height: 1.45;
                color: $primary-grey;
                margin-bottom: 24px;
                @include mobile-only {
                    font-size: 18px;
                    line-height: 1.33;
                }
                
            }
            .container_label_list {
                 @include tablet-only {
                display: flex;
                margin-bottom: 24px;
                justify-content: space-between;
                @include tablet-only {
                    margin-right: 25px;
                    margin-left: 25px;
                }
            }

            }
            .container_label {
                margin-bottom: 16px;
                @include tablet-only {
                    margin-bottom: 0;
                    margin-left: 24px;
                    width: 110px;
                } 
                @include mobile-only{
                    margin-bottom: 24px;
                }
            }
            .container_label_ctnter {
                margin-bottom: 16px;
                @include tablet-only {
                    margin-bottom: 0;
                    // margin-right: 24px;
                    width: 110px;
                }
                @include mobile-only{
                    margin-bottom: 24px;
                }
            }
            .container_label_end{
                margin-bottom: 24px;
                @include tablet-only {
                    margin-bottom: 0;
                    margin-right: 24px;
                    width: 110px;
                }
                @include mobile-only{
                    margin-bottom: 24px;
                }
            }
            .list{
                color: $primary-grey;
                font-family: $font-regular;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.43;
            }
            .item {
                margin-right: 8px;
                background-color: $primary-black-2;
                border: $primary-grey; 
            }
        }
        .btn {
            width: 212px;
            height: 36px;
            padding: 8px, 10px, 8px, 10px;
            border-radius: 12px;
            background-color: $primary-green-lite;
            font-family: $font-regular;
            color: $primary-black-2;
            width: 500;
            font-size: 14px;
            line-height: 1.42;
            align-items: center;
            @include tablet-only {
                width: 380px;
                height: 36px;
                padding: 8px, 10px, 8px, 10px;
            }
            @include mobile-only{
                width: 300px;
                height: 36px;
                padding: 8px, 10px, 8px, 10px;
            }
        }
    }

}