// responsive
@mixin mobile-only {
  @media (max-width: 833px) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $breakpoint-tablet) and (max-width: 1439px) {
    @content;
  }
}

@mixin tablet-and-desktop {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
