html {
  box-sizing: border-box;
  width: 100%;
  min-width: 340px;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;

  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  font-family: $font-regular;
  color: $primary-white;
  background-color: $primary-black;
  line-height: 1.5;

  // overflow: hidden;

  ::selection {
    background-color: $primary-lite-green;
    color: $secondary-grey-1;
  }
}

button {
  font-family: inherit;
  color: $primary-black-2;
  background-color: $primary-green-lite;

  border: none;

  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input:not([type='radio']) {
  font-family: inherit;
  border: 1px solid $primary-green-lite;
  transition: $transition-default;
  color: $primary-grey;
  background-color: $primary-black-2;

  &:focus {
    outline: none;
    transform: scale(1.02);
  }
}
