// font
$font-regular: 'Poppins', sans-serif;

// colors
$primary-white: #ffffff;
$primary-black: #050505;
$primary-violet: #b6c3ff;
$primary-black-2: #0f0f0f;
$primary-lite-green: #45ffbc;
$primary-grey: #b6b6b6;
$primary-green-lite: #e3ffa8;

$secondary-grey-1: #292928;
$secondary-pink: #ffc4f7;
$secondary-yellow: #fff3b7;
$secondary-red: #e74a3b;
$secondary-green: #3cbc81;

// breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 834px;
$breakpoint-desktop: 1440px;

// borders
$border-default: 12px;

//timing function
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-default: all 0.5s $timing-function;
$transform-default: scale(1.1);
