@import '@/scss//base/mixins';
@import '@/scss/base/variables';

.BeckHome {
  display: flex;
  align-items: center;
}

.DiaryArrow{
  color: $primary-white;
font-family:$font-regular;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 36px;
}

.containerDiary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include mobile-only {
    padding-top: 16px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.containerBloks {
  @include desktop-only {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}