@import '@/scss//base/mixins';
@import '@/scss/base/variables';

.sectionDiary{
    padding-left: 10px;
    padding-right: 10px;
}
.BeckHome{
    display: flex;
    line-height: 1.1;
}
.arrowBack{
    margin-right: 4px;
    width: 16px;
    height: 16px;


}
.containerDiary{
    padding-top: 16px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}