@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.modal_container {
  width: 676px;
  height: 408px;
  padding: 24px;
  background-color: $primary-black-2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 24px;
}

.meal_container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.list {
  display: flex;
  justify-content: space-between;
}
.list :nth-child(5) {
  height: 38px;
}

.list_item {
  border-radius: 12px;
  border: 1px solid $primary-green-lite;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $primary-grey;
}

.inputs_container {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 110px;
  &::-webkit-scrollbar {
    background-color: $primary-black-2;
    width: 8px;
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    width: 8px;
    height: 94px;
    background: rgba(255, 255, 255, 0.1);
  }
}

.button_container {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.button_add {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: $primary-green-lite;
  background-color: inherit;
}

.button_confirm {
  padding: 8px 10px;
  border-radius: 12px;
  width: 192px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.button_cancel {
  background-color: inherit;
  color: $primary-grey;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  width: 192px;
}

.buttons_container {
  display: flex;
  justify-content: end;
}
