@import '@/scss/base/variables';
@import '@/scss//base/mixins';

.container {
  @include desktop-only {
    display: flex;
    margin-top: 20px;
    margin-left: 34px;
    margin-right: 32px;
  }

  @include tablet-only {
    margin: 24px 27px;
  }

  @include mobile-only {
    margin: 16px 10px;
  }
}

.containerTitle {
  h2 {
    font-size: 30px;
    font-weight: 500;
  }
  @include desktop-only {
    width: 50%;
  }
}

.photoBox {
  @include desktop-only {
    margin-right: 160px;
  }
}

.button {
  font-size: 14px;
  position: relative;
  @include desktop-only {
    margin-bottom: 16px;
    text-align: right;
  }
}

.cancelBtn {
  color: $primary-white;
  background-color: $primary-black;

  @include tablet-and-desktop {
    padding: 8px 10px 8px 10px;
    width: 212px;
    height: 36px;
    border-radius: 12px;
  }

  @include tablet-only {
    position: absolute;
    bottom: 425px;
    left: 340px;
  }

  @include mobile-only {
    position: absolute;
    top: 1110px;

    width: 300px;
    height: 36px;
    border-radius: 12px;
  }
}

.saveBtn {
  @include tablet-and-desktop {
    margin-left: 12px;
    padding: 8px 10px 8px 10px;
    width: 212px;
    height: 36px;
    border-radius: 12px;
  }

  @include tablet-only {
    position: absolute;
    bottom: 425px;
    left: 550px;
  }

  @include mobile-only {
    position: absolute;
    top: 1070px;

    width: 300px;
    height: 36px;
    border-radius: 12px;
  }
}

.containerContent {
  @include desktop-only {
    display: flex;
  }
}

.mainImg {
  @include desktop-only {
    margin-top: 24px;
    margin-right: 160px;
    width: 536px;
    height: 538px;
  }

  @include tablet-only {
    margin: 20px auto 24px;
    width: 380px;
    height: 374px;
  }

  @include mobile-only {
    margin: 16px auto 24px;
    width: 300px;
    height: 296px;
  }
}
.containerSettings {
  margin: auto;
}

.containerSetting {
  @include tablet-and-desktop {
    display: flex;
    width: 491px;
    
  }

  @include tablet-only {
    margin: auto;
  }

  
}

@include tablet-and-desktop {
  .containerSetting > div:first-child {
    margin-right: 60px;
  }


}

.containerSettingFirst {
  label {
    display: grid;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 12px;
    color: $primary-white;
  }

  label input {
    width: 212px;
    height: 36px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 8px 10px;
    margin-top: 12px;
    box-sizing: border-box;
    color: $primary-white;
    border-color: $primary-grey;
    background-color: $primary-black;

    &:focus {
      border: 1px solid $primary-green-lite;
    }
  }

  @include mobile-only {
    label input {
      width: 300px;
    }
  }
}

.containerPhoto {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 12px;

  label {
    font-weight: 400;
    font-size: 14px;
  }
}

.inputPhoto {
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.photo {
  margin-right: 12px;
  border-radius: 50%;
}

.svg {
  margin-right: 6px;
}

.contairGender {
  margin-bottom: 40px;
  margin-top: 12px;

  label {
    margin-right: 16px;
  }

  label input {
    margin-right: 10px;
  }
}

.containerWeight {
  label {
    margin-bottom: 40px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
  }

  label input {
    width: 212px;
    height: 36px;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 8px 10px;
    margin-top: 12px;
    box-sizing: border-box;
    color: $primary-white;
    border-color: $primary-grey;
    background-color: $primary-black;
  }

  @include mobile-only {
    label input {
      width: 300px;
    }
  }
}

.containerActivity {
  width: 550px;

  @include tablet-only {
    margin: auto;
    padding-left: 35px;
  }

  @include mobile-only {
    width: 300px;
    margin: auto;
    margin-top: 40px;
  }
}

.text {
  font-weight: 400;
  font-size: 14px;
}

.boxActivity {
  text-indent: 20px;
  margin-right: 10px;
  margin-top: 24px;
}

@include tablet-and-desktop {
  .cancelBtnM,
  .saveBtnM {
    visibility: hidden;
    pointer-events: none;
    display: none;
  }
}

input[type='radio'] {
  position: relative;
  height: 12px;
  width: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: $primary-black-2;
  border: 1px solid $primary-grey;
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $primary-grey;
  border: 1px solid $primary-black-2;
  transform: translate(-50%, -50%);
  visibility: visible;
}
