@import '@/scss/base/variables';
@import '@/scss//base/mixins';

.temptext {
  text-align: center;
}

.temp {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: fit-content;

  margin: 0 auto;

  margin-bottom: 8px;

  padding: 4px;

  color: $primary-black;
  background-color: $primary-green-lite;

  a {
    color: $primary-black;
  }
}

.container {
  margin: 0 auto;
  padding: 16px 10px;

  max-width: $breakpoint-mobile;

  @include tablet-and-desktop {
    padding: 24px 27px;
    max-width: $breakpoint-tablet;
  }

  @include desktop-only {
    padding: 20px 34px;
    max-width: $breakpoint-desktop;
  }
}
