@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.main__container__page {
  width: 320px;
  margin-right: auto;
  margin-left: auto;

  @include tablet-only {
    width: 834px;
    margin-right: auto;
    margin-left: auto;
  }

  @include desktop-only {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}

.cont__image__foodlist__page {
  padding-bottom: 40px;

  @include tablet-only {
    padding-bottom: 270px;
  }

  @include desktop-only {
    display: flex;
  }
}

.title__page {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 10px;
  color: $primary-white;

  @include tablet-only {
    font-size: 30px;
    line-height: 1.2;
    padding-top: 24px;
    padding-bottom: 20px;
    margin-left: 27px;
  }

  @include desktop-only {
    font-size: 30px;
    line-height: 1.2;
    margin-left: 34px;
    padding-bottom: 24px;
  }
}

.picture__page {
  @include tablet-only {
    display: flex;
    margin-left: 227px;
  }

  @include desktop-only {
    margin-left: 150px;
    margin-bottom: 60px;
  }
}

.image__page {
  margin-left: 10px;

  @include tablet-only {
    margin-left: 0;
  }

  @include desktop-only {
    max-width: 536px;
    margin-left: 0;
  }
}

.item__list__page {
  margin-top: 24px;
  height: 1040px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: $primary-white;
  }

  @include tablet-only {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 520px;
    margin-left: 27px;
  }

  @include desktop-only {
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 0;
    margin-left: 44px;
  }
}

.item__page {
  display: flex;
  width: 300px;
  margin-bottom: 20px !important;
  color: $primary-white;
  background-color: $primary-black-2;
  border-radius: 12px;

  @include tablet-only {
    width: 380px;
    margin-bottom: 0 !important;
  }

  @include desktop-only {
    width: 328px;
    margin-bottom: 0 !important;
  }
}

.product__image__page {
  width: 46px;
  height: 46px;
  margin: 20px 20px 20px 24px;
}

.product__info__page {
  margin-top: 20px;
}

.product__name__page {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}

.product__calories__page {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.calories__quantity__page {
  font-weight: 500;
  color: $primary-grey;
}
