@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.list {
  display: flex;
  justify-content: space-between;
  width: 628px;
}

.list_item {
  width: 100%;
  border-radius: 12px;
  border: 1px solid $primary-green-lite;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 20px;
  color: $primary-grey;
  background-color: inherit;
  margin-bottom: 24px;
}
.list :nth-child(1) {
  width: 246.5px;
}

.list :nth-child(2) {
  width: 92.81px;
}
.list :nth-child(3) {
  width: 70.47px;
}
.list :nth-child(4) {
  width: 43.63px;
}
.list :nth-child(5) {
  width: 79.34px;
}
