@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.food_wrapper {
  grid-area: 1 / 3 / 2 / 4;
  @include tablet-only {
    grid-area: 2 / 1 / 3 / 3;
    width: 780px;
  }
}
.food_title {
  font-size: 22px;
  margin-bottom: 6px;
  font-weight: 400;
  gap: 0px;
}

.food_subcontainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.food_title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 6px;
  font-weight: 400;

  @include tablet-and-desktop {
    font-size: 22px;
    line-height: 32px;
  }
}

.food_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $primary-black-2;

  padding: 16px 12px;

  border-radius: 12px;

  @include tablet-and-desktop {
    flex-direction: row;
    gap: 40px;

    padding: 36px 40px;
  }
}

.food_subcontainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
