@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.Container_sign_up {
  // width: 320px;
  padding: 24px 10px 40px;
  background-color: $primary-black;
  margin-left: auto;
  margin-right: auto;

  @include tablet-only {
    // width: 834px;

    padding: 16px 168px;
    text-align: center;
  }

  @include desktop-only {
    width: 1440px;
    padding: 16px 150px 72px;

    display: flex;
  }
}

.Img_sign_up {
  width: 300px;

  @include tablet-only {
    width: 380px;
  }

  @include desktop-only {
    width: 592px;
    margin-right: 104px;
  }
}

.Text_container_sign_up {
  @include desktop-only {
    padding: 120px 0px 196px;
  }
}

.Title_sign_up {
  font-family: $font-regular;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: $primary-white;
  margin-top: 24px;
  margin-bottom: 16px;

  @include tablet-only {
    margin-top: 80px;
    font-size: 30px;
    line-height: 1.2;
  }

  @include desktop-only {
    margin-top: 0;
    font-size: 30px;
    line-height: 1.2;
  }
}

.Text_sign_up {
  font-family: $font-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: $primary-grey;
  margin-bottom: 24px;

  @include tablet-and-desktop {
    font-size: 22px;
    line-height: 1.45;
  }
}

a.Button_sign_in {
  display: inline-block;
  width: 142px;
  height: 36px;
  border-radius: 12px;
  margin-bottom: 40px;
  padding: 0;
  cursor: pointer;
  font-family: $font-regular;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  background-color: $primary-green-lite;
  text-decoration: none;
  text-align: center;
  color: black;
  padding-top: 8px;

  @include tablet-and-desktop {
    margin-bottom: 80px;
    width: 212px;
  }
}

.Button_sign_up {
  display: inline-block;
  width: 142px;
  height: 36px;
  border-radius: 12px;
  margin-bottom: 40px;
  padding: 0;
  cursor: pointer;
  font-family: $font-regular;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  background-color: transparent;
  color: $primary-white;
  text-decoration: none;
  text-align: center;
  color: black;
  padding-top: 8px;

  @include tablet-only {
    margin-bottom: 80px;
  }
}

.List_scope_sign_up {
  list-style: none;

  @include tablet-only {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    text-align: left;
    row-gap: 16px;
  }
}

.List_scope_li_sign_up {
  position: relative;
  font-family: $font-regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $primary-white;
  padding-left: 16px;

  &::before {
    content: ' ';
    position: absolute;
    width: 8px;
    height: 8px;

    left: 0;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50%;
    background-color: $primary-green-lite;
  }

  @include tablet-only {
    flex-basis: calc((100% - 16px) / 2);
  }
}

.List_scope_li_sign_up:not(:last-child) {
  margin-bottom: 16px;

  @include tablet-only {
    margin-bottom: 0;
  }
}
