@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.header_container {
  position: relative;

  display: flex;
  align-items: center;

  margin: 0 auto;
  padding: 0 10px;

  max-width: $breakpoint-mobile;

  @include tablet-and-desktop {
    padding: 0 27px;
    max-width: $breakpoint-tablet;
  }

  @include desktop-only {
    padding: 0 36px;
    max-width: $breakpoint-desktop;
  }
}

.header_container_fullscreen {
  position: fixed;
  height: 100vh;
  width: 100vw;

  background-color: rgba(5, 5, 5, 0.7);
  z-index: 999;
}
