@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.header_modal_user_tablet {
  position: absolute;
  top: 60px;
  left: 5px;
  width: 300px;
  height: 184px;
  padding-top: 24px;
  padding-left: 24px;
  box-shadow: 0px 4px 14px 0px $primary-green-lite;
  border-radius: $border-default;
  background-color: $primary-black-2;
  z-index: 1200;
  @include tablet-and-desktop {
    display: none;
  }
}

.header_user_bnt:not(:last-child) {
  margin-bottom: 40px;
}

.header_user_bnt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.header_modal_bnt_close {
  position: absolute;
  width: 16px;
  background-color: transparent;
  top: 15px;
  left: 250px;
}

.header_user_bnt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.header_user_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid $primary-grey;
  border-radius: 12px;
  margin-right: 12px;
}

.header_user_img {
  width: 28px;
}

.header_user_discr {
  color: $primary-white;
}

.header_user_text {
  font-family: $font-regular;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.42;
  text-align: left;
}

.header_user_weight_descr {
  display: flex;
}

.header_user_measure {
  color: $primary-grey;
  margin-left: 4px;
}
.header_modal_bnt {
  position: absolute;
}
