@import '@/scss/base/variables.scss';
@import '@/scss/base/mixins.scss';

.header_modal_weight_overlay {
  position: absolute;
  top: 60px;
  padding-top: 24px;
  padding-left: 24px;
  width: 100%;
  background-color: $primary-black;

  @include tablet-and-desktop {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 392px;
    height: 200px;
    padding-top: 20px;
    padding-left: 24px;
    box-shadow: 0px 4px 14px 0px $primary-green-lite;
    border-radius: $border-default;
    background-color: $primary-black-2;
    z-index: 1200;
  }
}

.header_modal_weight_title {
  font-family: $font-regular;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: $primary-white;
}

.header_modal_weight_text {
  font-family: $font-regular;
  width: 284px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: $primary-grey;
}

.header_modal_date_text {
  font-family: $font-regular;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: $primary-white;
}

.header_modal_date {
  margin-left: 6px;
  font-family: $font-regular;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: $primary-grey;
}

.header_weight_form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
   gap: 12px;
  
  @include mobile-only {
    flex-direction: column;
    justify-content: center;
  }
}

.header_modal_input {
  width: 166px;
  border: 1px solid $primary-green-lite;
  border-radius: $border-default;
  padding: 8px 10px;
  background-color: $primary-black;
  font-family: $font-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;

  @include mobile-only {
    width: 300px;
  }
}

.header_modal_bnt {
  font-family: $font-regular;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  // margin-top: 16px;
  width: 166px;
  height: auto;
  border-radius: $border-default;

  @include mobile-only {
    width: 300px;
  }
}

.header_modal_bnt_close {
  position: absolute;
  width: 16px;
  background-color: transparent;
  top: 18px;
  left: 345px;
}

.header_modal_bnt_cancel {
  font-family: $font-regular;
  text-align: center;
  background-color: transparent;
  color: white;
}

.header_modal_bnt_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
